{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_title %}Cart{% endblock page_title %}

{% block page_header %}
<div class="container empty-header"></div>
{% endblock page_header %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Cart</h2>
                <hr>
            </div>
        </div>
        <div class="row"> 
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-striped">
                        <thead class="table-light text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p> 
                                    <p class="my-0"><strong>Size: </strong>{% if item.product.has_size %}{{ item.size|upper }}{% else %}N/A{% endif %}</p> 
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p> 
                                </td>
                                <td class="py-3">
                                    <form class="update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_size %}
                                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <input type="submit" class="small-link pointer text-info update-link" value="Update">
                                        <a class="text-decor-none pointer text-danger small-link float-end remove-item" id="remove_{{ item.item_id }}" data-product_size="{{ item_size }}">Remove</a>
                                    </form>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price|calc_subtotal:item.quantity }}</p> 
                                </td>
                            </tr>
                            {% endfor %}
                            <tr colspan="5" class="pt-5 text-end">
                                <h6><strong>Cart Total: ${{ cart_total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery_cost|floatformat:2 }}</h6>
                                {% if spend_for_free_delivery %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ spend_for_free_delivery }}</strong> more!
                                    </p>
                                {% endif %}
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end">
                                    <a href="{% url 'store_view' %}" class="btn btn-success btn-lg">
                                        <span>
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        <span class="text-upper">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout_view' %}" class="btn btn-success btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span>
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                </div>
                <p>Your cart is empty</p>
                <a href="{% url 'store_view' %}">
                    <span>
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span>Browse store</span> 
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section> 
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock postloadjs %}

 