{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home{% endblock page_title %}

{% block content %}
<!-- Hero section -->
<section class="hero-bg overlay-50">
    <div class="row">
        <div class="col-6 text-white offset-ts">
            <h1>Train in all of our gyms for only $40/month</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reprehenderit soluta a 
                ipsa placeat voluptate rerum, illum delectus quos velit explicabo cum necessitatibus fugiat
                    corrupti ratione saepe iure, in dolore minus minima nihil nobis. Dolorem quis in nihil! Omnis 
                    quibusdam nihil maiores labore deleniti, delectus ut natus excepturi blanditiis et!
            </p>
            <a href="{% url 'all_memberships' %}" class="btn btn-success">Join Now!</a>
        </div>   
    </div>
</section>
<div class="container-fluid">
    <!-- Brief company description -->
    <section class="my-5">
        <div class="row mx-auto">
            <ul class="d-flex"> 
                <li class="col-md-4 motivation-box">
                    <a href="{% url 'all_gyms' %}" class="text-decor-none">
                        <div class="box position-relative">
                            <h3 class="fs-6">Our Gyms</h3>
                            <p>Check them out</p>
                            <span class="arrow-container bg-success">
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 motivation-box">
                    <a href="{% url 'all_memberships' %}" class="text-decor-none">
                        <div class="box position-relative">
                            <h3 class="fs-6">Become a Member</h3>
                            <p>
                                Achive Greatness
                            </p>
                            <span class="arrow-container bg-success">
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 motivation-box">
                    <a href="{% url 'all_memberships' %}" class="text-decor-none">
                        <div class="box position-relative">
                            <h3 class="fs-6">Start training from</h3>
                            <p>
                                $29.90/Month
                            </p>
                            <span class="arrow-container bg-success">
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="row mt-5">
                <div class="col-12 px-5">
                    <h2 class="section-header">GYM AND TRAINING 24/7</h2>
                    <p class="text-center fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Doloremque, exercitationem perspiciatis. Fugit, exercitationem a, 
                        repellendus et obcaecati iste natus reiciendis nostrum eum cum ad aliquam. 
                        Reprehenderit, perspiciatis est illo assumenda voluptatem 
                        ducimus hic fuga eos temporibus eum recusandae inventore quisquam deserunt? 
                        Ipsam quam assumenda iste sunt, aperiam ipsa similique doloribus!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Deals -->
    <hr>
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-header">DEALS</h2>
                </div>
                <div class="col-4">
                    <img src="media/protein_shake.jpg" alt="Protein shake">
                    <h3>Monthly Offer</h3>
                    <p>
                        20% off on all protein shakes 
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Incidunt unde officia in ducimus doloribus culpa?
                    </p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
                <div class="col-4">
                    <img src="media/yoga.jpg" alt="#">
                    <h3>Limited offer</h3>
                    <p>
                        Free yoga-mat
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Incidunt unde officia in ducimus doloribus culpa?
                    </p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
                <div class="col-4">
                    <img src="media/delivery_package.jpg" alt="A hand holding a tiny package">
                    <h3>Free Delivery</h3>
                    <p>
                        On purchases over $50
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Incidunt unde officia in ducimus doloribus culpa?
                    </p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Gyms and locations -->
    <hr>
    <section class="my-5">
        <div class="row justify-content-evenly">
            <div class="col-10 mx-auto my-4">
                <h3 class="section-header">OUR GYMS</h3>
                <p>
                    Gym walkthrough by employees
                    We welcome beginners and experienced gym-goers and we want everybody to feel at home in our gyms. It can be intimidating to enter a new gym that youo aren't familiar with
                    so our staff is always available during manned hours to answer any questions and also to have a full walkthrough of the gym. We want all our memebers to feel comfortable so don't be afraid to ask we are here to help!
                </p>
            </div> 
            {% for gym in gyms %}
            <div class="col-5">
                <div>
                    <img src="{{ gym.main_image.url }}" alt="">
                    <h4>{{ gym.name }}</h4>
                </div>
                <span><a href="{% url 'gym_details' gym.name %}" class="btn btn-success">Read More</a></span>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Memberships -->
    <section class="my-5">
        <hr>
        <div class="row justify-content-evenly">
            <div class="col-12 text-center my-5">
                <h2 class="section-header">Membership</h2>
                <h5>Sign up for a membership to any of our gyms starting at $29.90 per month</h5>
            </div>
            <div class="col-12 text-center mb-5">
                <h3>Perks</h3>
                <p>
                    As a member you have access to exclusive deals and offers
                </p>
                <a href="{% url 'all_memberships' %}" class="btn btn-success">Learn More</a>

            </div>
            {% for membership in memberships %}
                <div class="col-3 bg-light py-3">
                    <h5 class="text-center text-{{ membership.name|lower }}">{{ membership.name }}</h5>                
                    <p>${{ membership.monthly_price}}/month  |  ${{ membership.yearly_price }}/year</p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Newsletter -->
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock content %}



