{% extends 'base.html' %}
{% load static %}
{% block page_title %}My Profile{% endblock page_title %}


{% block page_header %}
<div class="bg-gray">
    <div class="top-banner" style="background-image: url('/media/hero-image.jpg'); background-size: cover;"></div>
</div>
{% endblock page_header %}

{% block content %}
<section class="bg-gray text-white">
    <div class="band"></div>
    <div class="container pt-5">
        <h1 class="section-header fs-1">My Profile</h1>
        <hr>
        <div class="row justify-content-center">
            <!-- User info -->
            <div class="col-md-6 p-0 mt-4">
                <h2 class="ps-3">My Details</h2>
                <div class="row">
                    <div class="col-12">
                        <form action="{% url 'profile' %}" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <div class="btn-orange float-end update-btn">Change Details</div>
                            <input class="btn-orange float-end submit-btn" type="submit" value="Save Changes">
                        </form>
                    </div>
                </div>
            </div>
            <!-- User membership -->
            <div class="col-md-6 p-0 mt-4">
                <h2>{{ member.membership.name }} Membership</h2>
                <ul class="list-group">
                    {% if member.membership %}
                        {% if member.payment_plan == 'monthly' %}
                            <li class="list-group-item"><b>Month to Month Membership</b></li>
                        {% elif member.payment_plan == 'yearly' %}
                            <li class="list-group-item"><b>Year to Year Membership</b></li>
                        {% endif %}
                        {% if member.membership.level < 3 %}
                            <li class="list-group-item"> <b>My Gym:</b> {{ member.gym.all | first }} </li>
                            {% else %}
                            <li class="list-group-item"> <b>My Gym:</b> Full Access To All Gyms </li>
                            {% endif %}
                            <li class="list-group-item"> <b>{{ member.payment_plan|title }} Payment:</b> ${{ membership_price }} </li>
                            <li class="list-group-item"> <b>Member Since:</b> {{ member.member_since }} </li>
                            <li class="list-group-item"> <b>Last Renewed:</b> {{ member.membership_renewed }} </li>
                            <li class="list-group-item"> <b>Membership Expires:</b> {{ member.membership_expires_on }} </li>
                        {% else %}
                            <li class="list-group-item"><b>You currently don't have an active membership</b></li>
                            <p>You can sign up for a membership <a href="{% url 'all_memberships' %}">here</a></p>
                    {% endif %}
                        {% comment %} <p>You can update your membership <a href="{% url 'membership_update' %}">here</a></p> {% endcomment %}
                </ul>
            </div>
        </div>
        <!-- User order history -->
        <hr>
        <div class="row pb-4 justify-content-md-start justify-content-center">
            <div class="col-12 p-4 d-sm-block d-none">
                <h2>My Orderhistory</h2>
                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Order Made</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_history %}
                        <tr>
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.created_on }}</td>
                            <td>${{ order.order_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="col p-0 d-sm-none d-block">
                <h2>My Orderhistory</h2>
                {% for order in order_history %}
                <div class="row pt-3 bg-light text-black mt-3">
                    <div class="col-12">
                        <h6>Order Number:</h6>
                        <p class="border-bottom small">{{ order.order_number }}</p>
                    </div>
                    <div class="col-12">
                        <h6>Order Made:</h6>
                        <p class="border-bottom">{{ order.created_on }}</p>
                    </div>
                    <div class="col-12">
                        <h6>Total:</h6>
                        <p class="border-bottom">{{ order.order_total }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock postloadjs %}