{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_title %}Checkout{% endblock page_title %}

{% block page_header %}
<div class="bg-gray empty-header"></div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="section-header">Checkout</h1>
        </div>
    </div>
    <div class="row">
        <!-- Order Content -->
        <div class="px-0 col-12 col-lg-6 order-lg-last">
            <div class="row">
                {% if cart_items %}
                <!-- Cart content -->
                <section class="col-12 p-0">
                    <div class="row">
                        <h2 class="col-6">Cart Items</h2>
                        <p class="col-6 text-end">Order Summary ({{ cart_count }})</p>
                    </div>
                    <hr>
                    {% for item in cart_items %}
                    <div class="row bg-light text-dark"> 
                        <div class="col-4 pt-4 pe-0">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="item.product.name">
                        </div>

                        <div class="col-8 pt-4 ps-0">
                            <div class="row">
                                <p class="col-12"><strong>${{ item.product.price }}</strong></p> 
                            </div>
                            <div class="row">
                                <p class="col-12">
                                    {{ item.product.name }}
                                </p>
                            </div> 
                            <div class="row">
                                <p class="col-6"><strong>Size: </strong>{% if item.product.has_size %}{{ item.size|upper }}{% else %}N/A{% endif %}</p> 
                                <p class="col-6"><strong>Qty: </strong>{{ item.quantity }}</p> 
                            </div>
                            <div class="row text-end">
                                <p class="col-12">
                                    Subtotal: <strong>${{ item.product.price|calc_subtotal:item.quantity }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
                {% endif %}
                {% if membership %}
                <hr class="my-3">
                <!-- Memebership Content -->
                <section class="col -12 p-0">
                    <h2>Membership</h2>
                    <div class="col-12 p-3 bg-light text-black">
                        <ul>
                            <li>
                                <p>Membership: <span class="float-end text-bold">{{ membership.name }}</span></p>
                            </li>
                            <li>
                                <p>Your Gym:<span class="float-end text-bold">{{ gym }}</span></p>
                            </li>
                            <li>
                                <p>Payment Plan:<span class="float-end text-bold">${{ payment_plan }}</span></p>
                            </li>
                            <li>
                                <p>Starting Date:<span class="float-end text-bold">{{ starting_date }}</span></p>
                            </li>
                        </ul>
                    </div>
                </section>
                {% endif %}
                <!-- Order Total -->
                <hr>
                <section class="col-12">
                    <div class="row text-end">
                        <div class="col-7 offset-2">
                            <p class="my-0">Order Total:</p>
                            <p class="my-0">Delivery:</p>
                            {% if refund %}
                            <p class="my-0">Refund for membership change:</p>
                            {% endif %}
                            {% if payment_plan_change_cost %}
                            <p class="my-0">Cost for membership change:</p>
                            {% endif %}
                            <p class="my-0">Grand Total:</p>
                        </div>
                        <div class="col-3">
                            <p class="my-0"><strong>${{ order_total | floatformat:2 }}</strong></p>
                            <p class="my-0"><strong>${{ delivery_cost | floatformat:2 }}</strong></p>
                            {% if refund %}
                            <p class="my-0"><strong>$-{{ refund | floatformat:2 }}</strong></p>
                            {% endif %}
                            {% if payment_plan_change_cost %}
                            <p class="my-0">$<strong>{{ payment_plan_change_cost | floatformat:2 }}</strong></p>
                            {% endif %}
                            <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                        </div>
                    </div>
                </section>
                <hr class="mb-5 mt-2">
            </div>
        </div>
        <!-- Form -->
        {% if form %}
        <div class="col-12 col-lg-6">
            <p class="px-3">Please fill out the form below to complete your order</p>
            <form action="{% url 'create_checkout_session' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="small px-2 w-auto">Details</legend>
                    {{ form.full_name | as_crispy_field }}
                    {{ form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="small px-2 w-auto">Delivery</legend>
                    {{ form.phone | as_crispy_field }}
                    {{ form.address | as_crispy_field }}
                    {{ form.apartment_number | as_crispy_field }}
                    {{ form.city | as_crispy_field }}
                    {{ form.county | as_crispy_field }}
                    {{ form.postcode | as_crispy_field }}
                    <div class="float-end me-0">
                        {% if user.is_authenticated %}
                        <label for="id-save-info">Save this delivery information to my profile</label>
                        <input class="ms-2 me-0" type="checkbox" name="save-info" checked>
                        {% else %}
                        <label for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                    <div class="submit-btn text-end mt-5 mb-2">                    
                        <button id="submit-btn" class="btn-orange">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-orange my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ grand_total | floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </fieldset>
            </form>
        {% else %}
            <form action="{% url 'create_checkout_session' %}" method="GET" id="payment-form">
                <div class="submit-btn text-end mt-5 mb-2">                    
                    <button id="submit-btn" class="btn-orange">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-orange my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total | floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        {% endif %}
        </div>
    </div>
    <div id="loading-overlay">
        <h2 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h2>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock postloadjs %}

