:root {
    --orange: #ff4b00;
    --dark: #1a1a1a;
    --brown: #bda69e;
    --gray: #595959;
}

.text-orange {
    color: var(--orange);
}

.text-brown {
    color: var(--brown);
}

.text-dark {
    color: var(--dark);
}

.text-gray {
    color: var(--gray);
}

.text-lightgray {
    color: lightgray;
}

.text-gold {
    color: gold;
}

.text-silver {
    color: #666666;
}

.text-bronze {
    color: rgb(203, 125, 0);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-brown {
    background-color: var(--brown);
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-lightgray {
    background-color: lightgray;
}

/* -----------------  Buttons */

.btn-orange {
    color: white;
    background-color: var(--orange);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    border: 0;
    box-shadow: 3px 4px 8px -4px black;
    cursor: pointer;
    min-width: 85px;
}

.btn-dark {
    color: var(--brown);
    background-color: var(--dark);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    border: 0;
    box-shadow: 3px 4px 8px -4px black;
    cursor: pointer;
    min-width: 85px;
}

.btn-orange:hover,
.btn-dark:hover {
    color: inherit;
}

/* -----------------  General */

.vh60 {
    min-height: 60vh;
}

.bg-none {
    background-color: transparent;
}

.text-decore-none {
    text-decoration: none;
}

.text-bold {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}

.small-link {
    border: none;
    font-size: 0.75rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -----------------  Backgrounds */

.diagonal-band {
    height: 500px;
    width: 100%;
    background-color: #000;
    clip-path: polygon(0 43%, 100% 0, 100% 76%, 50% 100%, 0 100%);
}

.hero-bg {
    background: url("/media/hero-image.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.top-banner {
    height: 70vh;
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0% 100%);
}

.gyms-banner {
    background-image: url("/media/hero-image.jpg");
    background-size: cover;
    background-position: center;
}

.store-banner {
    background-image: url("/media/dumbell-rack.jpg");
    background-size: cover;
    background-position: center;
}

.band {
    width: 100%;
    height: 1rem;
    margin-bottom: 2rem;
    background-color: orange;
    box-shadow: 0px 21px 10px 20px orange;
}

/* -----------------  Mail Chimp */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

/* -----------------  Bootstrap */

.row {
    max-width: 100%;
    margin-left: 0;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 88px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -----------------  Elements */

ul {
    list-style: none;
    padding-left: 0;
}

p {
    line-height: 2rem;
}

img {
    max-width: 100%;
}

body {
    font-family: "Heebo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Orbitron", sans-serif;
}

h3 {
    margin-top: 1rem;
}

hr {
    border-width: 3px;
    opacity: 0.2;
}

.header-font {
    font-family: "Orbitron", sans-serif;
}

/* -----------------  Shortcuts */

.small {
    font-size: 0.8rem;
}

ul.list-style-dots {
    padding-left: 50px;
    list-style: initial;
}

.overlay-50 {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
}

.offset-ts {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.shadow-none {
    box-shadow: none;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----------------  Headers */

.scroll-nav {
    opacity: 0.92;
    box-shadow: 0 3px 20px 0px orange;
}

.nav-logo {
    height: 40px;
    width: 64px;
    right: 20px;
    top: 20px;
}

.nav-brand {
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
}

.clear-navbar {
    padding-top: 88px;
}

.section-header {
    background-color: var(--dark);
    color: var(--brown);
    font-size: 2rem;
    box-shadow: 0px 0px 15px 10px var(--dark);
    text-align: center;
    margin-bottom: 2rem;
}

/* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
} */

.empty-header {
    width: 100%;
    height: 15vh;
}

.cart-count {
    position: absolute;
    bottom: -3px;
    right: -5px;
    min-width: 18px;
    height: 18px;
    background-color: var(--orange);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    line-height: 10px;
}

/* -----------------  Modal */

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.modal-card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 250px;
    background-color: lightgray;
    padding: 15px;
    z-index: 1000;
}

.modal-body {
    background-color: white;
}

/* -----------------  Footer */

footer ul li a {
    color: var(--white);
}

.social-links {
    display: flex;
    font-size: 25px;
}

/* -----------------  Gym Page */
.input-item {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 7px 0;
    box-shadow: 3px 3px 8px -4px;
}

#map {
    width: 75vw;
    height: 50vw;
}

.amenity-container-content {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----------------  Home Page */

.newsletter {
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 10px;
    box-shadow: -4px -3px 17px -5px orange;
}

.motivation-box {
    padding: 10px;
}

.motivation-box .box {
    color: white;
    background-color: var(--dark);
    padding: 20px;
}

.motivation-box .box p {
    margin-top: 20px;
    font-weight: 600;
    font-style: italic;
    font-size: 1.75rem;
}

.arrow-container {
    position: absolute;
    right: 20px;
    bottom: 35px;
    width: 1.5rem;
    height: 1.5rem;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 15px;
}

/* -----------------  Gym Page */

.amenity-container {
    width: 125px;
    height: 125px;
    border: solid 4px rgb(80, 80, 80);
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 35px;
}

.amenity-container i {
    font-size: 45px;
}

.map-cover {
    width: 100%;
    height: 100%;
    background: url("/media/worldmap.jpg") center;
    background-size: cover;
}

#modal-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-boxes h5 {
    font-size: 1rem;
}

/* -----------------  Stripe */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 2px 4px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: 0.5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, 0.85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.show-cart {
    display: none;
    transition: display 4s;
}

.cart-dropdown:hover .show-cart {
    display: block;
}

/* -----------------  Membership */

.box-content {
    display: flex;
    font-weight: 600;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    clip-path: inset(0px -15px 0px 0px);
}

.box-content.price {
    font-size: 1.5rem;
}

aside .box-content {
    justify-content: left;
    padding-left: 20px;
}

aside .box-content h4 {
    font-size: 1rem;
}

header.box-content {
    font-size: 2rem;
    font-weight: 500;
    color: var(--gray);
}

.row-description {
    padding: 0;
}

.membership-card {
    position: relative;
    overflow: hidden;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    box-shadow: -5px 0px 22px -3px orange;
    z-index: 0;
}

.membership-card::before {
    content: "";
    position: absolute;
    background-color: var(--gray);
    opacity: 0.1;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    top: 0;
    left: -100px;
    z-index: -1;
}

.membership-card::after {
    content: "";
    position: absolute;
    height: 550px;
    width: 550px;
    opacity: 0.1;
    border-radius: 50%;
    background-color: var(--orange);
    top: 20px;
    left: 100px;
    z-index: -1;
}

@media (max-width: 725px) {
    .amenity-container {
        height: 100px;
        width: 100px;
    }

    .amenity-container-content p {
        font-size: 0.8rem;
    }
    .amenity-container-content i {
        font-size: 1.75rem;
    }
}

@media (max-width: 640px) {
    .newsletter {
        left: 0;
    }

    #map {
        width: 95vw;
        height: 70vw;
    }
}

@media (max-width: 360px) {
    .amenity-container {
        height: 80px;
        width: 80px;
    }
}
@media (max-width: 300px) {
    .text-sm {
        font-size: 0.8rem;
    }

    li.amenity-list-container {
        font-size: 0.8rem;
    }
}

/* Remove up down arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.update-form {
    max-width: fit-content;
}

.order-confirmation-wrapper h3 {
    font-size: 0.8rem;
}

.order-confirmation-wrapper h2 {
    font-size: 1.25rem;
    padding-top: 1rem;
}

.quantity-input {
    width: 200px;
}
