:root {
    --green: #1fbf27;
    --darkgreen: #567b4e;
    --light: #def8d6;
    --blue: #004b74;
    --dark: #2f4858;
    --white: #fff;
}
.text-green {
    color: var(--green);
}
.text-darkgreen {
    color: var(--darkgreen);
}
.text-blue {
    color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}
.bg-darkgreen {
    background-color: var(--darkgreen);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-light {
    background-color: var(--light) !important;
}

/* -----------------  General */

.text-decor-none {
    text-decoration: none;
}

.text-gold {
    color: gold;
}

.text-silver {
    color: silver;
}

.text-bronze {
    color: rgb(203, 125, 0);
}

.text-bold {
    font-weight: 900;
}
/* -----------------  Backgrounds */
.hero-bg {
    background: url("/media/hero-image.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.top-banner {
    height: 70vh;
}

.band {
    width: 100%;
    height: 50px;
    background-color: var(--green);
}
/* -----------------  Bootstrap */

.row {
    max-width: 100%;
}

/* -----------------  Elements */
section {
    padding: 2rem 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

p {
    line-height: 2rem;
}

img {
    max-width: 100%;
}

body {
    font-family: "Heebo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Orbitron", sans-serif;
}

hr {
    border-width: 3px;
    opacity: 0.2;
}

/* -----------------  Shortcuts */

.overlay-50 {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
}

.offset-ts {
    position: absolute;
    top: 35%;
    left: 10%;
}

/* -----------------  Headers */
header {
    box-shadow: 0 -16px 20px 5px gray;
}

.nav-logo {
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
}

.section-header {
    font-size: 2rem;
    text-align: center;
}

/* -----------------  Footer */

footer ul li a {
    color: var(--white);
}

.social-links {
    display: flex;
    font-size: 25px;
}

/* -----------------  Gym Page */
.input-item {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 7px 0;
    box-shadow: 3px 3px 8px -4px;
}

/* -----------------  Home Page */

.motivation-box {
    padding: 10px;
}

.motivation-box .box {
    color: white;
    background-color: var(--dark);
    padding: 20px;
}

.motivation-box .box p {
    margin-top: 20px;
    font-weight: 600;
    font-style: italic;
    font-size: 1.75rem;
}

.arrow-container {
    position: absolute;
    right: 20px;
    bottom: 35px;
    width: 1.5rem;
    height: 1.5rem;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 15px;
}

/* -----------------  Gym Page */

.anemity-container {
    width: 150px;
    height: 150px;
    border: solid 4px rgb(80, 80, 80);
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    margin: 20px 10px;
    padding-top: 35px;
}

.anemity-container i {
    font-size: 45px;
}

.map-cover {
    width: 100%;
    height: 100%;
    background: url("/media/worldmap.jpg") center;
    background-size: cover;
}

#modal-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-boxes h5 {
    font-size: 1rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
