<div class="container py-5">
    <div class="row py-3">
        <article class="col-sm-5">
            <h2>About Church of Iron</h2>
            <p>
                Brief history and description of Church of Iron
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Eligendi vitae, placeat dolore minima officia, pariatur 
                molestiae voluptatum deserunt aut provident quam excepturi 
                ut harum eius atque culpa blanditiis laboriosam. Itaque 
            </p>
        </article>
        <div class="col-sm-6 offset-sm-1">
            <div class="row">
                <section class="col-sm-6">
                    <h2>About Us</h2>
                    <ul>
                        <li>
                            <a href="#">Gym Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </section>
                <section class="col-sm-6">
                    <h2>Follow Us</h2>
                    <ul class="social-links">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="ms-4">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>