<div class="container-fluid py-5">
    <div class="row py-3">
        <article class="col-sm-7 ps-sm-5">
            <h2>About Church of Iron</h2>
            <p>
            Everyone has the right to a really good gym - no matter who you are, where you live or
             why you exercise. In our gyms, we therefore offer the latest 
             in exercise and health - at a reasonable price. Welcome to the club.
            </p>
        </article>
        <div class="col-sm-5">
            <div class="row">
                <section class="col-6">
                    <h2>About Us</h2>
                    <ul>
                        <li>
                            <a href="#">Gym Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </section>
                <section class="col-6">
                    <h2>Follow Us</h2>
                    <ul class="social-links">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="ms-4">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>