<!-- Navigation elements -->
<div class="row pt-3">
    <div class="col-2">
        <a href="{% url 'home' %}" class="nav-logo"><b>Church</b><small>of</small><b>Iron</b></a>
    </div>
    <div class="col-7">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="col-12">
                    <ul class="navbar-nav justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'all_gyms' %}" aria-haspopup="true" aria-expanded="false">Gym</a>
                            <div class="dropdown-menu">
                                <ul>
                                    {% for gym in gyms %}
                                        <li>
                                            <a href="{% url 'gym_details' gym.name %}" class="dropdown-item">{{ gym.name }}</a>
                                        </li>                                    
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'store_view' %}" aria-haspopup="true" aria-expanded="false">Store</a>
                            <div class="dropdown-menu">
                                <ul>
                                    {% for category in categories %}                                    
                                    <li>
                                        <a href="{% url 'store_view' %}?category={{ category.name }}" class="dropdown-item"> {{ category.friendly_name|title }} </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'all_memberships' %}" aria-haspopup="true" aria-expanded="false">Memberships</a>
                            <div class="dropdown-menu">
                                <ul>
                                    {% for membership in memberships %}
                                    <li>
                                        <a href="{% url 'membership' membership.name %}" class="dropdown-item">{{ membership.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>  
    <div class="col-3">
        <div class="col-12">
            <ul class="d-flex justify-content-evenly">                        
                {% if user.is_authenticated %}
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="{% url 'profile' %}" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="user-options">
                        <a href="{% url 'profile' %}" class="dropdown-item">My Info</a>
                        <a href="{% url 'profile' %}" class="dropdown-item">Membership</a>
                        <a href="{% url 'profile' %}" class="dropdown-item">Order History</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="list-inline-item">
                    <a href="{% url 'account_login' %}" class="nav-link"><i class="fa-solid fa-lock"></i> Login</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'account_signup' %}" class="nav-link btn btn-success text-light">Join</a>
                </li>
                {% endif %}
                <li class="list-inline-item position-relative cart-dropdown">
                    <span class="cart-count"> {{ cart_count }} </span>
                    <a class="text-black nav-link" href="{% url 'cart_view' %}" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fa-solid fa-lg fa-basket-shopping"></i></div>
                            <p class="my-0">Cart</p>
                        </div>
                    </a>
                    <div class="show-cart">
                        {% include 'includes/cart-show.html' %}
                    </div>
                    {% comment %} <div class="cart-dropdown-content d-none">
                        <div class="cart-dropdown-header">
                            <h3>Cart</h3>
                        </div>
                        <div class="cart-dropdown-body">
                            {% for item in cart %}
                            <div>
                                <div>{{ item.name }}</div>
                                <span><img src="{{ item.image.url }}" alt=""></span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cart-dropdown-footer">
                            <a href="{% url 'checkout_view' %}" class="btn bg-dark text-white">Go To Checkout</a>
                        </div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="user-options"></div> {% endcomment %}
                </li>
            </ul>
        </div>
    </div>
</div>