{% load static %}

<!-- Navigation elements -->
<div class="row pt-3">
    <div class="col-lg-3 col-5  order-last d-flex justify-content-start align-items-center mb-2 order-lg-first">
        <a href="{% url 'home' %}" class="d-flex align-items-end float-end nav-brand text-white ">
            <img class="nav-logo" src="{% static 'images/nav-logo.png' %}" alt="Church of iron Logo">
            <p class="mb-0 d-none d-sm-block align-items-center nav-brand">
                <b>Church</b><small>of</small><b>Iron</b>
            </p>
        </a>
    </div>
    <div class="col-lg-9 col">
        <nav class="navbar navbar-dark navbar-expand-lg">
            <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="col-8">
                    <ul class="navbar-nav justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-link" type="button" id="gym-options" data-bs-toggle="dropdown" aria-expanded="false">Gym</div>
                            <ul class="dropdown-menu" aria-labelledby="gym-options">
                                <li>
                                    <a href="{% url 'all_gyms' %}" class="dropdown-item">All Gyms</a>
                                </li>      
                                {% for gym in gyms %}
                                <li>
                                    <a href="{% url 'gym_details' gym.name %}" class="dropdown-item">{{ gym.name }}</a>
                                </li>                                    
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-link" type="button" id="store-options" data-bs-toggle="dropdown" aria-expanded="false">Store</div>
                            <ul class="dropdown-menu" aria-labelledby="store-options">
                                <li>
                                    <a href="{% url 'store_view' %}" class="dropdown-item">All Products</a>
                                </li>
                                {% for category in categories %}                                    
                                <li>
                                    <a href="{% url 'store_view' %}?category={{ category.name }}" class="dropdown-item"> {{ category.friendly_name|title }} </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'all_memberships' %}">Memberships</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="navbar-nav align-items-center justify-content-evenly">                   
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown me-lg-0 me-auto">
                            <div class="text-center text-brown" type="button" id="user-options" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="col d-lg-block d-flex">
                                    <div class="order-last ms-lg-0 ms-2"><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Profile</p>
                                </div>
                            </div>
                            <div class="dropdown-menu" aria-labelledby="user-options">
                                <a href="{% url 'profile' %}" class="dropdown-item">My Info</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link"><i class="fa-solid fa-lock"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link px-4 btn-orange">Join</a>
                        </li>
                        {% endif %}
                        <li class="nav-item cart-dropdown me-lg-0 me-auto">
                            <a class="text-center text-brown nav-link" href="{% url 'cart_view' %}" aria-haspopup="true" aria-expanded="false">
                                <div class="col d-flex d-lg-block">
                                    <div class="order-last position-relative ms-lg-0 ms-2">
                                        <span class="cart-count">{{ cart_count }}</span>
                                        <i class="fa-solid fa-lg fa-basket-shopping"></i>
                                    </div>

                                    <p class="my-0">Cart</p>
                                </div>
                            </a>
                            <div class="show-cart">
                                {% include 'includes/cart-show.html' %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

{% block postloadjs %}
<script>
    let lastHightVal = 0;
    $(document).scroll(function() {
        let currentHightVal = $(this).scrollTop();
        let navbar = $(".navbar-container");
        
        // header.toggleClass('scroll-nav', st > 50);

        //If scrolling up hide navbar upwards 
        if (currentHightVal < 3) {
            navbar.removeClass('scroll-nav')

        } else if (currentHightVal > lastHightVal && currentHightVal > 100) {
            navbar.fadeOut(200);

        } else if (currentHightVal < lastHightVal) {
            navbar.fadeIn(200);
            navbar.addClass('scroll-nav')
        };
 
        lastHightVal = currentHightVal;
        });
</script>
{% endblock postloadjs %}

