{% extends "account/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="empty-header"></div>
<h2>{% trans "Sign Out" %}</h2>
<hr>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="d-flex justify-content-around">
    <button class="btn-orange" type="submit">{% trans 'No' %}</button>
    <button class="btn-orange " type="submit">{% trans 'Sign Out' %}</button>
  </div>
</form>


{% endblock %}
