{% extends 'base.html' %}
{% load static %}
{% block page_title %}Gyms in the south of sweden{% endblock page_title %}


{% block page_header %}
<div class="bg-gray">
    <div class="top-banner" style="background-image: url('/media/hero-image.jpg'); background-size: cover;"></div>
    <div class="band"></div>
</div>
{% endblock page_header %}

{% block content %}
<section>
    <h1 class="section-header fs-1 mt-4">OUR GYMS</h1>
    <div class="container-fluid">
        <div class="row">
            {% for gym in gyms %}
            <div class="col-md-10 mx-auto">
                <h2 class="mb-3">{{ gym.name }}</h2>
                <img src="{{ gym.main_image.url }}" alt="Main gym image">
                <!-- Amenities -->
                <div class="container border border-secondary border-2 rounded-bottom">
                    <h3 class="text-decoration-underline">Amenities</h3>
                    <div class="container">
                        <ul class="row text-center">
                            {% for amenity in gym.amenities.all %}
                            <li class="col-4 my-2">{{ amenity.friendly_name }} <i class="{{amenity.icon}}"></i></li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'gym_details' gym.name %}" class="btn-orange">To Gym</a>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

