{% extends 'base.html' %}
{% load static %}
{% load staff_permissions %}
{% block page_title %}Gym {{ gym.name }}{% endblock page_title %}

{% block extra_css %}
    <!-- Map styling -->
    <style>
        #map {
            width: 75%;
            height: 500px;
        }
    </style>
{% endblock extra_css %}

{% block page_header %}
    <div class="bg-gray">
        <div class="top-banner" style="background-image: url({{ gym.main_image.url }}); background-size: cover; background-position: center;"></div>
        <div class="band"></div>
    </div>
{% endblock page_header %}

{% block content %}
<div class="contianer">
    <!-- Show button if the the user is a gym manager -->
    {% if request.user|has_group:"Gym Manager" %}
    <div class="row p-4 bg-warning">
        <div class="col-12 text-center">
            <a href="{% url 'gym_edit' gym.name %}" class="btn-orange">Edit Page</a>
        </div>
    </div>
    {% endif %}
    <section>
        <!-- Carousel of all the gyms images -->
        <div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto" data-bs-ride="true">
        <div class="carousel-indicators">
            {% for image in gym_images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter0}}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in gym_images %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </section>
    <section class="row mx-0">
        <header class="col-12">    
            <h2 class="section-header">OUR AMENITIES</h2>
        </header>
        <div class="container text-center w-75">
            <ul class="row justify-content-center m-0">
                {% for amenity in gym.amenities.all %}
                <li class="col-md-3 col-sm-6">
                    <div class="amenity-container mx-auto">
                        <div><i class="{{amenity.icon}}"></i></div>
                        <p>{{ amenity.friendly_name }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <!-- Map -->
    <section class="position-relative mx-auto" id="map">
        <div class="map-cover overlay-50">
            <button class="btn-orange" id="modal-btn">Show Map</button>
        </div>
    </section>
    <!-- Contact info and open hours -->
    <hr>
    <section class="row contact-boxes me-0 text-center justify-content-evenly">
        <address class="col-md-5 col-10 my-3 py-4">
            <h3>Contact</h3>
            <hr>
            <ul>
                <li>
                    <h4>Address</h4>
                    <p>{{ gym.address }}</p>
                </li>                    
                <hr>
                <li>
                    <h4>Phone</h4>
                    <p>
                        <a class="text-light" href="tel:{{ gym.phone }}">{{ gym.phone }}</a>
                    </p>
                </li>
                <hr>
                <li>
                    <h4>Email</h4>
                    <p>
                        <a class="text-white" href="mailto:{{ gym.email }}">{{ gym.email }}</a>
                    </p>
                </li>                
            </ul>
        </address>
        <section class="col-md-5 col-10 my-3 py-4">
            <h3>Open Hours</h3>
            <hr>
            <ul>
                <li class="row">
                    <h4 class="col-6">Weekdays</h4>
                    <h4 class="col-6">Weekends</h4>
                </li>
                <li class="row">
                    <p class="col-6">
                        <time datetime="{{ gym.opening_hours_weekdays|time:'H:i' }}">
                            {{ gym.opening_hours_weekdays|time:'H:i' }}
                        </time>
                         - 
                        <time datetime="{{ gym.closing_hours_weekdays|time:'H:i' }}">
                            {{ gym.closing_hours_weekdays|time:'H:i' }}
                        </time>
                    </p>
                    <p class="col-6">
                        <time datetime="{{ gym.opening_hours_weekends|time:'H:i' }}">
                            {{ gym.opening_hours_weekends|time:'H:i' }}
                        </time>
                         - 
                        <time datetime="{{ gym.closing_hours_weekends|time:'H:i' }}">
                            {{ gym.closing_hours_weekends|time:'H:i' }}
                        </time>
                    </p>
                </li>                    
            </ul>
            <hr>
        </section>
    </section>
</div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        function initMap() {
            let options = {
                zoom: 15, 
                center: { lat: {{ gym.coordinates_lat }}, lng: {{ gym.coordinates_long }} }
            }

            let map = new 
            google.maps.Map(document.getElementById('map'), options);

            let marker = new google.maps.Marker({
                position: { lat: {{ gym.coordinates_lat }}, lng: {{ gym.coordinates_long }} },
                map: map
            })
        }

        document.querySelector('#modal-btn').addEventListener('click', function() {
            document.querySelector('.map-cover').classList.add('d-none')
            initMap()
        })
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_SECRET_KEY }}">
    </script>
{% endblock postloadjs %}


