{% extends 'base.html' %}
{% load static %}
{% block page_title %}Gym {{ gym.name }}{% endblock page_title %}

{% block extra_css %}
    <!-- Map styling -->
    <style>
        #map {
            width: 75%;
            height: 500px;
        }
    </style>
{% endblock extra_css %}

{% block page_header %}
    <div class="top-banner" style="background-image: url({{ gym.main_image.url }}); background-size: cover; background-position: center;"></div>
    <div class="band"></div>
{% endblock page_header %}

{% block content %}
<div class="contianer">
    <section>
        <!-- Carousel of all the gyms images -->
        <div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto" data-bs-ride="true">
        <div class="carousel-indicators">
            {% for image in gym_images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter0}}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in gym_images %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </section>
    <section>
        <div class="row mx-0">
            <div class="col-12">    
                <h3 class="section-header">OUR ANEMITIES</h3>
            </div>
            <div class="container text-center w-75">
                <ul class="row justify-content-center m-0">
                    {% for amenity in gym.amenities.all %}
                    <li class="col-md-3">
                        <div class="anemity-container">
                            <div><i class="{{amenity.icon}}"></i></div>
                            <div>{{ amenity.friendly_name }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <!-- Map -->
    <section>
        <div class="position-relative mx-auto" id="map">
            <div class="map-cover overlay-50">
                <button class="btn btn-success" id="modal-btn">Show Map</button>
            </div>
        </div>
    </section>
    <!-- Contact info and open hours -->
    <section>
        <div class="row contact-boxes me-0 text-center justify-content-evenly">
            <div class="col-md-5 col-10 bg-light my-3 py-4">
                <h3>Contact</h3>
                <hr>
                <ul>
                    <li>
                        <h5>Address</h5>
                        <p>{{ gym.address }}</p>
                    </li>                    
                    <hr>
                    <li>
                        <h5>Phone</h5>
                        <p>{{ gym.phone }}</p>
                    </li>
                    <hr>
                    <li>
                        <h5>Email</h5>
                        <p>{{ gym.email }}</p>
                    </li>                
                </ul>
            </div>
            <div class="col-md-5 col-10 bg-light my-3 py-4">
                <h3>Open Hours</h3>
                <hr>
                <ul>
                    <li class="row">
                        <div class="col-6"><h5>Weekdays</h5></div>
                        <div class="col-6"><h5>Weekends</h5></div>
                    </li>
                    <li class="row">
                        <div class="col-6"> {{ gym.opening_hours_weekdays }} - {{ gym.closing_hours_weekdays }}</div>
                        <div class="col-6"> {{ gym.opening_hours_weekends }} - {{ gym.closing_hours_weekends }}</div>
                    </li>                    
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        function initMap() {
            let options = {
                zoom: 15, 
                center: { lat: {{ gym.coordinates_lat }}, lng: {{ gym.coordinates_long }} }
            }

            let map = new 
            google.maps.Map(document.getElementById('map'), options);

            let marker = new google.maps.Marker({
                position: { lat: {{ gym.coordinates_lat }}, lng: {{ gym.coordinates_long }} },
                map: map
            })
        }

        document.querySelector('#modal-btn').addEventListener('click', function() {
            document.querySelector('.map-cover').classList.add('d-none')
            initMap()
        })
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_SECRET_KEY }}">
    </script>
{% endblock postloadjs %}


