{% extends 'base.html' %}
{% load static %}
{% block page_title %}Checkout{% endblock page_title %}


{% block page_header %}
    <div class="top-banner" style="background-image: url('/media/hero-image.jpg'); background-size: cover; background-position: center;"></div>
    <div class="band"></div>
{% endblock page_header %}


{% block content %}
<!-- Checkout summary -->
<section>
    <div class="row">
        <h1 class="section header mb-5">CHECKOUT</h1>
        <hr>
        <div class="col-md-6 col-8 offset-2">
            <h3>{{ membership_data.membership }} Membership</h3>
            <ul>
                <li>
                    <p>Gym Access: {% if membership_data.gym is None %} All gyms {% else %} {{ membership_data.gym }} {% endif %}</p>
                </li>
                <li>
                    <p>Membership Starting: {{ starting_date }}</p>
                </li>
                <li>
                    <p>Membership Expires: {{ expiration_date }}</p>
                </li>
                <li>
                    <p>Payment Plan: {{ membership_data.payment_plan|title }}</p>
                </li>
                {% if payment_plan != yearly %}
                <li>
                    <p>Change to a yearly subscription to save {{ membership }} per year!</p>
                    <a href="#">Click here</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

<!-- Payment section -->
<section>
    <fieldset class="px-3">
        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
        <!-- A Stripe card element will go here -->
        <div class="mb-3" id="card-element"></div>
        <!-- Used to display form errors -->
        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
    </fieldset>
    <div class="submit-button text-end mt-5 mb-2">                    
        <button id="submit-btn" class="btn btn-black rounded-0">
            <span class="font-weight-bold">Complete Order</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </button>
        <p class="small text-danger my-0">
            <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Your card will be charged <strong>${{ total_cost }}</strong></span>
        </p>
    </div>
</section>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/membership_stripe.js' %}"></script>
{% endblock postloadjs %}
