{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{ membership.name }} Membership{% endblock page_title %}


{% block page_header %}
    <div class="row px-0 mx-0 bg-gray">
        <div class="col-5 position-relative">
            <p class="offset-ts fs-5 fst-italic text-white">
                Sign up for a month to month membership or a yearly membership 
                <br>
                <br>
                <strong class="fs-1">10% off on yearly payments</strong>
            </p>
        </div>
        <div class="col-7 px-0 mx-0">
            <div class="top-banner" style="background-image: url('/media/hero-image.jpg'); background-size: cover; background-position: center;"></div>
        </div>
        <div class="band"></div>
    </div>
{% endblock page_header %}


{% block content %}
<section class="py-5 col-8 mx-auto form-container">
    <h1 class="membership-title"> {{ membership.name }} Membership</h4>
    {% include 'includes/signup-form.html' %}
</section>

{% endblock content %} 


