{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{ membership.name }} Membership{% endblock page_title %}


{% block page_header %}
    <div class="top-banner" style="background-image: url('/media/hero-image.jpg'); background-size: cover; background-position: center;"></div>
    <div class="band"></div>
{% endblock page_header %}


{% block content %}
<section class="text-center">
    <h1 class="section-header"> {{ membership.name|upper }} MEMBERSHIP</h1>
    <div class="row">
        <div class="col-7 mx-auto">
            <p>
                {{ membership.description }}
            </p>
            <a href="{% url 'membership_signup' membership.name %}" class="text-decor-none text-black btn bg-success text-white"><strong>SIGN UP NOW!</strong></a>
        </div>
    </div>
</section>
{% endblock content %}