{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}{% endblock %}

        {% block main_css %}
            <!-- Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600&display=swap" rel="stylesheet"> 
            <!-- Bootstrap css -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
            <!-- Custom CSS -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}    
        
        {% block extra_css %}{% endblock %}

        {% block main_js %}
            <!-- Font Awsome -->
            <script src="https://kit.fontawesome.com/0be8f1ee62.js" crossorigin="anonymous"></script>
            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>   
     {% endblock %}

        {% block extra_js %}{% endblock %}

        <title>Church of Iron | {% block page_title %}{% endblock page_title %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top bg-white">
            {% include 'include/navbar.html' %}
        </header>

        {% block page_header %}{% endblock page_header %}

        <!-- Block for potential messages -->
        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        <!-- Page content -->
        <main>
            {% block content %}{% endblock content %}
        </main>
        
        <!-- Footer -->
        <footer class="bg-black text-white">
            <!-- Main footer if large screen -->
            {% include 'include/footer.html' %}
        </footer>
        {% block postloadjs %}{% endblock %}
    </body>
</html>
